{% load static %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Tijn Joosten</title>
	<link rel="stylesheet" type="text/css" href="{% static 'website/homepage.css' %}">
</head>
<body>
		<h1 class="hometitle">Homepage</h1>
		<p>Welcome to my website!</p>
		<p>This website will be used to show my personal projects.</p>
		<div class="aboutme">
			<h2>About me</h><br>
		</div>		
		<a href="./aboutme" class="button">others</a>
		<h3 class="contactme">Contact me</h3>
		<p class="contactme"> xxx@gmail.com | <a href="https://www.linkedin.com/in/tijnjoosten/" target="_blank">Linkedin</a> | <a href="https://github.com/TijnJoosten" target="_blank">github</a></p>
</body>
</html>